@import url('https://fonts.googleapis.com/css?family=Gudea');
html {
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 800px;
}

body {
    font-family: 'Gudea', sans-serif;
    margin: 0;
    padding: 0;
}

body h3 {
    font-weight: bold;
    color: white;
    margin: auto;
    margin-top: 20px;
}

#wrapper {
    min-width: 800px;
    min-height: 500px;
}

#header {
    background: white;
    top: 0;
    min-width: 100%;
    min-height: 270px;
    padding-top: 20px;
}

#header .nav {
    color: #333;
    text-align: right;
    border-bottom: 1px solid #EFEFEF;
    width: 800px;
    margin: auto;
}

.nav img {
    height: 28px;
    margin-left: 15px;
    margin-right: 5px;
    border-radius: 50%;
    background: #EFEFEF;
}

.nav img:hover {
    cursor: pointer;
}

.material-icons {
    margin-left: 8px;
}

.material-icons:hover {
    color: #DC6180;
    cursor: pointer;
}

.info {
    width: 800px;
    height: 231px;
    margin: auto;
}

.info form {
    display: inline-block;
    float: left;
    width: 335px;
    height: auto;
    margin-top: 40px;
}

input,
textarea {
    font-family: 'Gudea', sans-serif;
    color: #333;
}

input {
    background: transparent;
    margin: 15px 25px 0;
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
}

textarea {
    border: none;
    border-top: 1px solid #EFEFEF;
    width: 265px;
    margin: 0 25px 0;
    padding: 10px;
    min-height: 60px;
    resize: none;
    outline: none;
}

button {
    background: transparent;
    font-size: 10px;
    color: #DC6180;
    border-radius: 50px;
    border: 1px solid #DC6180;
    transition-property: background, color;
    transition-duration: .3s;
    margin: 10px 25px 15px;
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
}

button:hover {
    color: white;
    background: #DC6180;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: .3s;
}

.avatar {
    border-radius: 50%;
    height: 170px;
    float: right;
    margin: 30px 15px;
}

.posts {
    width: 800px;
    min-height: 275px;
    margin: auto;
    margin-bottom: 15px;
}

.posts h3 {
    padding: 5px 25px;
}

#comments {
    padding: 5px 25px;
    color: #333;
}

#comments span {
    font-weight: bold;
    font-size: 15px;
}

#comments div {
    font-size: 13px;
    background: white;
}

.comments {
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
}

.trash {
    position: relative;
    float: right;
    bottom: 12px;
    color: #333;
}

.trash:hover {
    color: #DC6180;
}

footer {
    font-size: 12px;
    color: white;
    text-align: center;
    width: 180px;
    margin-bottom: 10px;
    position: relative;
    left: 44%;
}

footer a {
    text-decoration: none;
    color: white;
}